h1 {
    color: #EE799F;
    font-size: 40px;
}

P {
    font-style: italic;
    font-family: "Arial";
}

.veg {
    color: darkgreen;
}

div {
    width: 50%;
    float: left;
}

#contact {
    width: 100%
}

#veggie a {
    font-weight: bold;

}